<%= form_for event, html: { multipart: true, class: "mt-5" } do |f| %>
    <div class="form-group">
      <%= f.label "name" %>
      <%= f.text_field :name, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label "description" %>
      <%= f.text_area :description, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label "start date" %>
      <%= f.date_field :start_date, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label "end date" %>
      <%= f.date_field :end_date, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label "address" %>
      <%= f.text_field :address, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label "venue" %>
      <%= f.text_field :venue, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :tags %>
      <%= f.select :tag_ids, Tag.all.map{|tag| [tag.name, tag.id]}, {},  {multiple: true, class: "form-control tag-input"}%>
    </div>
    <label>My Photo</label>
    <%= f.file_field :photo, class: "form-control"%>
    <%= f.hidden_field :photo_cache %>
    <%= f.submit "valider", class: "btn btn-primary mt-2" %>
<% end %>
