<div class="card m-4 align-items-stretch" style= "flex: 1 0 21%;">
  <% if guide.photo.url %>
    <div class="guide-image" style="background-image: url('<%= guide.photo.url%>');" >
    </div>
  <% else %>
  <div class="default-avatar d-flex flex-row justify-content-center" style="height: 200px; width: 100%;">
    <%= image_tag "default_avatar" %>

  </div>
  <% end %>
  <div class="card-body"
    <h5 class="card-title"><%= guide.full_name %></h5>
    <p class="card-text"><%= guide.description %></p>
    <% if params[:event_id] %>
      <%= link_to "Book a session with me !", new_booking_path(guide_id: guide.id, event_id: params[:id]), class: "btn btn-primary" %>
    <% else %>
      <%= link_to "Book a session with me !", pick_event_path(guide_id: guide.id), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
